body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Comfortaa', cursive;
  color: white;
  background-color: black;
  cursor: default;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow: hidden;
  -webkit-perspective: 0 !important;
  -webkit-backface-visibility: visible !important;
}

::-webkit-scrollbar {
  display: none;
}

.header {
  position: relative;
}

.container {
  width: 100vw;
  height: 100vh;
}

.page-title {
  padding: 10% 5%;
  width: 90%;
  height: 50%;
}

.hello {
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 54px;
  font-weight: 300;
  margin: 25px 0;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.contact .hello {
  border-style: none;
}

.anim-typewriter {
  animation: typewriter 2s steps(30) 1s 1 normal both, blinkTextCursor 0.7s steps(30) infinite normal;
}

.anim-typewriter-contact {
  animation: typewriter-contact 2s steps(30) 1s 1 normal both;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 10.5em;
  }
}

@keyframes typewriter-contact {
  from {
    width: 0;
  }
  to {
    width: 6em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.name {
  display: inline;
  opacity: 0;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 108px;
  margin: 0;
  font-weight: 700;
  transition: 3s 3s;
  will-change: opacity;
}

.contact .name {
  transition: 3s 1s;
}

.name.is-visible {
  opacity: 1;
}

.about {
  display: inline;
  position: relative;
  vertical-align: 25px;
  left: -20px;
  opacity: 0;
  transition: opacity 2s 5s ease-out;
  will-change: opacity;
}

.about.is-visible {
  opacity: 1;
}

.start-tour {
  position: absolute;
  bottom: 0;
  left: 47%;
  text-align: center;
  z-index: 1;
}

.start-tour-button {
  position: relative;
  opacity: 0;
  color: white;
  text-decoration: none;
  display: block;
  margin: auto;
  text-align: center;
  background: transparent;
  border: none;
  transform: translateY(-100%);
  transition: opacity 3s 7s, transform 3s 6.5s ease-out;
}

.start-tour-button.is-visible {
  opacity: 0.5;
  transform: translateY(-50%);
}

.start-tour-button span {
  position: absolute;
  bottom: -30%;
  left: 0;
}

.fa-chevron-down,
.fa-undo {
  color: white;
  font-size: 500%;
  transition: transform 0.75s ease-in-out;
}

.fa-undo {
  font-size: 300%;
}

.fa-chevron-down:hover,
.fa-undo:hover {
  transform: scale(1.25);
}

.pointer {
  display: none;
  position: absolute;
  font-size: 500%;
  opacity: 0.7;
  left: 46.7%;
  bottom: 33px;
  z-index: 0;
}

.pointer .fa-hand-point-up {
  position: absolute;
  opacity: 0;
  transform: rotate(-45deg);
  left: 50%;
  bottom: -10%;
  animation: pointingFinger 0.8s 10s 2;
}

@keyframes pointingFinger {
  0% {
    opacity: 0.8;
    transform: rotate(-45deg) scale(1);
  }
  50% {
    opacity: 0.8;
    transform: rotate(-45deg) scale(0.9);
  }
  100% {
    opacity: 0.8;
    transform: rotate(-45deg) scale(1);
  }
}

.pointer .fa-circle {
  opacity: 0;
  animation: pointingWave 0.8s 10s 2;
}

@keyframes pointingWave {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  70% {
    opacity: 0.3;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.wrapper-outside {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: scroll;
}

.wrapper {
  height: 100vh;
  width: 150vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-align: center;
  align-items: center;
}

.timeline-title {
  color: white;
  margin-left: 31.5%;
  white-space: nowrap;
}

.check-education {
  display: block;
  opacity: 0;
  position: absolute;
  font-size: 400%;
  top: -100%;
  right: 16%;
  transition: opacity 2s 4s;
}

.check-education.is-visible {
  opacity: 0.5;
  transition: opacity 2s 3s;
  animation: checkBounce 0.5s ease 4s 3 normal forwards running;
}

@keyframes checkBounce {
  0% {
    top: -100%;
  }
  50% {
    top: -70%;
  }
  100% {
    top: -100%;
  }
}

.slider.is-visible {
  display: none;
  position: absolute;
  left: 50%;
  top: 80%;
  opacity: 0;
  animation: slider 4s 8s 1 ease-in-out forwards;
}

.slider * {
  display: none;
}

@keyframes slider {
  0% {
    opacity: 0.5;
    transform: translate(0) scale(1);
  }
  10% {
    transform: translate(0) scale(0.8);
  }
  40% {
    transform: translate(-400%) scale(0.8);
  }
  50% {
    transform: translate(-400%) scale(1);
  }
  60% {
    transform: translate(0) scale(1);
  }
  65% {
    transform: translate(0) scale(0.8);
  }
  95% {
    opacity: 0.5;
    transform: translate(-400%) scale(0.8);
  }
  100% {
    opacity: 0;
    transform: translate(-400%) scale(0.8);
  }
}

.slider .fa-circle {
  position: relative;
  font-size: 200%;
}

.slider .fa-hand-point-up {
  position: absolute;
  font-size: 300%;
  top: 50%;
  left: 10%;
}

.check-education span {
  text-decoration: none;
  font-size: 200%;
  color: white;
  position: absolute;
  top: -50%;
  left: -25%;
}

.time-point {
  height: 10%;
  width: 20%;
  opacity: 0;
  transform: translateX(300%);
  transition: transform 2.5s 0.5s ease-out, opacity 2s 0.5s ease-in-out;
  will-change: transform, opacity;
}

.time-point.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.time-point:hover {
  z-index: 3;
}

/* The actual timeline (the vertical ruler) */
.time-point::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -0.5%;
  width: 100%;
  height: 2px;
  background-color: white;
  z-index: -1;
}

.time-point.eye-point::after {
  width: 50%;
  z-index: -1;
}

/* Container around content */
.circle {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) scale(0.1);
  margin: auto;
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 50%;
  transition: transform 1s;
  z-index: 1;
}

.circle:hover,
.circle:active {
  transform-origin: center center;
  transform: translate(-50%, -50%) scale(1);
}

.circle:hover .check-education.is-visible {
  animation: checkBounce paused;
  opacity: 0;
  transition: opacity 0.1s 0s;
}

.text {
  position: absolute;
  height: 35%;
  padding: 15% 10% 0 15%;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 1s 0.5s;
  -webkit-transition: all 1s;
  font-size: 13px;
  color: black;
  z-index: 2;
}

.circle:hover .text {
  opacity: 1;
}

.circle .text h1 {
  margin: 0;
}

.logos,
.photos {
  opacity: 0;
  position: relative;
  transform: translateY(50%);
  margin: 0;
  padding: 0 10%;
  height: 35%;
  transition: opacity 0.8s 0.1s, transform 1s 0.1s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-direction: row;
      flex-direction: row;
  pointer-events: none;
  z-index: 3;
}

.studies-logos {
  padding: 5% 10%;
}

.learn-logos {
  top: -30%;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 10% 5%;
}

.learn-logos img {
  margin: 2.5%;
}

.circle:hover .logos,
.circle:hover .photos {
  transform: translateY(100%);
  opacity: 1;
}

.circle:hover .logos a,
.circle:hover .photos {
  animation: delayActivateLinks 1s 1s forwards;
}

@keyframes delayActivateLinks {
  0% {
    pointer-events: none;
  }
  50% {
    pointer-events: auto;
  }
  100% {
    pointer-events: auto;
  }
}

.scroll-down {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  bottom: 25%;
  right: 15%;
  opacity: 0;
  transition: opacity 2s 3s;
}

.scroll-down.is-visible {
  opacity: 0.5;
}

.scroll-down.is-visible img {
  animation: scrollDown 2s ease-out 3s 3 normal forwards;
}

@keyframes scrollDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.image_electronics {
  position: absolute;
  left: 10px;
  top: -15px;
}

.image_shell {
  position: absolute;
  transform: scale(0.8);
  left: 130px;
  top: -20px;
}

.image_system {
  position: absolute;
  transform: scale(0.6);
  top: 80px;
  left: 52px;
}

.image_pcb {
  position: absolute;
  transform: scale(0.8);
  left: 200px;
  top: 50px;
}

.image_algorythms {
  position: absolute;
  z-index: 0;
  left: 220px;
}

.image_api {
  position: absolute;
  top: 150px;
  left: 120px;
}

.image_data {
  position: absolute;
  transform: scale(0.9);
  top: 70px;
  left: 30px;
}

.image_device {
  position: absolute;
  left: 130px;
  top: 50px;
  z-index: 1;
}

.image_results {
  position: absolute;
  left: 10px;
  border-radius: 50%;
}

.front_end_button {
  position: absolute;
  outline: none;
  background-color: black;
  height: 110px;
  width: 110px;
  text-decoration: none;
  text-align: center;
  border: none;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  transform: translate(-50%, -50%);
}

.front_end_button p {
  position: absolute;
  margin: 0;
  left: 20%;
  opacity: 0;
  transition: opacity 0.5s 0.5s ease-in-out;
}

.front_end_button:hover > p {
  opacity: 1;
}

.front_end_button p:nth-of-type(1n) {
  top: 40%;
}

.front_end_button p:nth-of-type(2n) {
  top: 50%;
}

.card {
  position: absolute;
  margin: 0;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.8s 0.1s, transform 1s 0.1s;
  top: 30%;
  left: 25%;
  width: 50%;
  height: 50%;
}

.circle:hover .card {
  transform: translateY(0);
  opacity: 1;
}

.card_front,
.card_back {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: 0.6s linear;
}

.card_front {
  transform: perspective(600px) rotateY(0deg);
}

.card_back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: black;
  transform: perspective(600px) rotateY(180deg);
  -ms-flex-line-pack: center;
  align-content: center;
}

.card:hover > .card_front {
  transform: perspective(600px) rotateY(-180deg);
  opacity: 0.5;
}

.card:hover > .card_back {
  transform: perspective(600px) rotateY(0deg);
}

.logo_html {
  position: absolute;
  top: 120%;
  left: 27%;
}

.logo_css {
  position: absolute;
  top: 135%;
  left: 42%;
}

.logo_bootstrap {
  position: absolute;
  top: 95%;
  left: 73%;
}

.logo_ajax {
  position: absolute;
  top: 95%;
  left: 73%;
}

.logo_json {
  position: absolute;
  top: 100%;
  left: 12%;
}

.logo_handlebars {
  position: absolute;
  top: 61%;
  left: 7%;
}

.logo_js {
  position: absolute;
  top: 120%;
  left: 57%;
}

.logo_cplus {
  position: absolute;
  top: 90%;
  left: 70%;
  transform: scale(0.7);
}

.icon_link {
  color: black;
  position: absolute;
  font-size: 50px;
  top: 100px;
  transition: 0.3s ease-in-out;
}

.icon_link:hover {
  transform: scale(1.2);
}

.card_back a:nth-of-type(1) i {
  left: 25px;
}

.card_back a:nth-of-type(2) i {
  left: 110px;
}

.contact-me,
.restart-tour {
  position: absolute;
  bottom: 5%;
  right: 0;
}

.restart-tour {
  right: 20%;
}

.contact-me-button,
.restart-tour-button {
  position: relative;
  opacity: 0;
  color: white;
  text-decoration: none;
  display: block;
  margin: auto;
  text-align: center;
  background: transparent;
  border: none;
  transform: translateY(-100%);
  transition: opacity 3s 7s, transform 3s 6.5s ease-out;
}

.contact-me-button.is-visible,
.restart-tour-button.is-visible {
  opacity: 0.5;
  transform: translateY(0);
}

.contact-me-button span {
  position: absolute;
  bottom: -25%;
  left: 0;
}

.contact {
  position: relative;
}

.contact-title {
  padding: 10% 5% 0 5%;
  width: 90%;
  height: 50%;
}

.contact-links {
  width: 100%;
  height: 20%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0;
  transform: translateY(5vh);
  transition: 2s 1.5s ease-out;
}

.contact-links.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.contact-links::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: 2s 1.5s;
}

.contact-links.is-visible::after {
  width: 100%;
}

.contact-links h4 {
  margin: 0;
}

.link {
  white-space: nowrap;
  color: white;
  cursor: pointer;
  margin: 0 1%;
  border-top: 2px solid transparent;
  padding: 4px;
  opacity: 0;
  transform: translateY(5vh);
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 16px;
  transition: transform 2s 1.5s ease-out, border-top 0.1s 0.65s;
  z-index: 5;
}

.link.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.link::before {
  position: absolute;
  top: -7%;
  left: -5%;
  width: 105%;
  height: 0;
  background: #fff;
  content: '';
  transition: margin-top 0.7s, height 0.1s 0.7s ease-out, width 0.7s;
}

.link::after {
  position: absolute;
  top: -5px;
  left: -2px;
  width: 2px;
  height: 0;
  background: #fff;
  content: '';
  transition: height 0.7s ease-out;
}

.link:hover {
  z-index: 5;
  border-top: 2px solid black;
  transition: border-top 0s 0s;
}

.link:hover::before {
  margin-top: 30px;
  height: 2px;
  width: 115%;
  transition: margin-top 0.7s, height 0s, width 0.7s;
}

.link:hover::after {
  height: 40px;
}

.restart-tour-button span {
  position: absolute;
}

.footer {
  width: 100%;
  font-size: 10px;
  padding: 5px;
  color: grey;
  text-align: start;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-device-width: 1200px) {
  .about {
    display: block;
    left: 1%;
    margin: 5% auto;
    font-size: 150%;
  }
  .start-tour {
    transform: scale(1.5);
  }
  .pointer.is-visible {
    transform: scale(1.5);
    display: block;
  }
  .scroll-down {
    display: none;
  }
  .slider.is-visible {
    display: block;
  }
  .slider * {
    display: block;
  }
  .wrapper-outside {
    height: 50vh;
  }
  .wrapper {
    position: absolute;
    top: 25%;
    transform: scale(2);
    height: 50%;
    overflow-y: hidden;
  }
  .circle:hover,
  .circle:active {
    transform-origin: center center;
    transform: translate(-50%, -50%) scale(0.7);
  }
  .check-education {
    transform: scale(1.5);
  }
  .eye-point {
    display: none;
  }
  .circle:hover .card_front {
    animation: flipFront 0.6s 1.2s linear forwards;
  }
  .circle:hover .card_back {
    animation: flipBack 0.6s 1.2s linear forwards;
  }
  @keyframes flipFront {
    to {
      transform: perspective(600px) rotateY(-180deg);
      opacity: 0.5;
    }
  }
  @keyframes flipBack {
    to {
      transform: perspective(600px) rotateY(0deg);
    }
  }
  .contact-me {
    right: 21vw;
    bottom: 5%;
    transform: scale(0.7);
  }
  .contact-title {
    height: 35%;
  }
  .contact-links {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: start;
        align-items: flex-start;
    padding-left: 15%;
  }
  .contact-links * {
    font-size: 40px;
    margin: 10px 0;
  }
  .contact-links::after {
    display: none;
  }
  .link::before,
  .link::after,
  .link:hover::before,
  .link:hover::after {
    display: none;
  }
  .restart-tour {
    transform: scale(1.5);
    right: 20%;
    bottom: 18vh;
  }
  .footer {
    font-size: 120%;
    bottom: 15vh;
  }
}

@media only screen and (max-device-width: 768px) {
  .wrapper-outside:nth-of-type(2) {
    top: -15vh;
  }
  .circle:hover,
  .circle:active {
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center center;
  }
  .contact-me {
    right: 21vw;
    bottom: 6vh;
    transform: scale(1);
  }
}

@media (orientation: portrait) {
  .start-tour {
    bottom: 15vh;
  }
  .pointer {
    bottom: 16vh;
  }
}

/*
@media (max-width: 767px) {
  .studies-logos {
    pointer-events: none;
  }
}

.diploma {
  display: none;
}

.circle:hover .diploma {
  height: 400px;
  display: block;
  position: absolute;
  width: 400px;
}

/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */